@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  /* Primary = Taupe */
  --color-primary-50: var(--color-taupe-50);
  --color-primary-100: var(--color-taupe-100);
  --color-primary-200: var(--color-taupe-200);
  --color-primary-300: var(--color-taupe-300);
  --color-primary-400: var(--color-taupe-400);
  --color-primary-500: var(--color-taupe-500);
  --color-primary-600: var(--color-taupe-600);
  --color-primary-700: var(--color-taupe-700);
  --color-primary-800: var(--color-taupe-800);
  --color-primary-900: var(--color-taupe-900);
  --color-primary-950: var(--color-taupe-950);
}

@layer base {
  .font-outline-3 {
    -webkit-text-stroke: 3px var(--color-taupe-500);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom-in {
  animation: zoomIn 0.5s ease;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  min-height: 100vh;
}
